body {
    background-image: url("../Content/bg.jpg");
}

/*start tab control styles*/
.tabs-control-wrapper {
    background: #322500;
}

    .tabs-control-wrapper .tab-contol-wrapper {
        text-align: center;
        color: #F8B700;
        height: 51px;
        padding-top: 31px;
        font-weight: 700;
        font-family: "Semplicita Pro","Open Sans",Arial,Helvetica,sans-serif;
    }

        .tabs-control-wrapper .tab-contol-wrapper:hover {
            background: #F8B700;
            color: #211510;
            cursor: pointer;
        }

    .tabs-control-wrapper .current-tab {
        background: #F8B700;
        color: #211510
    }
/*end tab contol styles*/

/*start grid control styles*/

.grid-control-table {
    border-collapse: collapse;
}

    .grid-control-table tbody {
        color: #b1997f;
    }

        .grid-control-table tbody > tr.grid-row:nth-child(odd) {
            background: #ddd;
            background: rgba(255,255,255,.04);
        }

    .grid-control-table .grid-header span.grid-display-header-element-value {
        color: #F7B600;
    }
/*end grid control styles*/

/*start dropdown styles*/

#wow-classes-drop-down-wrapper {
    overflow-x: hidden;
    overflow-y: visible;
}

.drop-down-control-wrapper {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;
    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

    .drop-down-control-wrapper:after { /* Little arrow */
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: #4cbeff transparent;
    }

    .drop-down-control-wrapper .dropdown-control-list {
        /* Size & position */
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        /* Styles */
        background: #fff;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgba(0,0,0,0.2);
        border-top: none;
        border-bottom: none;
        list-style: none;
        transition: all 0.3s ease-out;
        /* Hiding */
        max-height: 0;
        overflow: hidden;
    }

        .drop-down-control-wrapper .dropdown-control-list li {
            padding: 0 10px;
        }

            .drop-down-control-wrapper .dropdown-control-list li span {
                display: block;
                text-decoration: none;
                color: #333;
                padding: 10px 0;
                transition: all 0.3s ease-out;
                border-bottom: 1px solid #e6e8ea;
            }

            .drop-down-control-wrapper .dropdown-control-list li:last-of-type span {
                border: none;
            }

            .drop-down-control-wrapper .dropdown-control-list li i span {
                margin-right: 5px;
                color: inherit;
                vertical-align: middle;
            }

            /* Hover state */

            .drop-down-control-wrapper .dropdown-control-list li:hover span {
                color: #57a9d9;
            }

    .drop-down-control-wrapper.active {
        border-radius: 5px 5px 0 0;
        background: #4cbeff;
        box-shadow: none;
        border-bottom: none;
        color: white;
    }

        .drop-down-control-wrapper.active:after {
            border-color: #82d1ff transparent;
        }

        .drop-down-control-wrapper.active .dropdown-control-list {
            background: red;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            max-height: 400px;
        }

/*end dropdown styles*/

/*hide generated by server block*/
center a {
    display: none;
}
